/* default configuration */
:root{
    font-family: sans-serif;
    --primary-color:#16ba16;
    --secundary-color:#171A17;
    --tertiary-color:#A9B2A9;
    --p-size:clamp(1.3rem,1.3vw,1.7rem);
}

body{
    background-color: var(--secundary-color);
    margin: 0;
    display: grid;
}

/* Header starts */

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

header{
    width: 100%;
    background:linear-gradient(to right,#000000b0, #0000004a);
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
}

.header-list-item{
    list-style-type: none;
}

.header-list-item a{
    font-size: clamp(1rem,1.4vw,2rem);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-decoration:underline;
}

.header-list-item a:hover{
    text-shadow: var(--primary-color) 0 0 15px;
    color: #5ddd5d;
    transition: 0.3s;
}

#header-list-contact{
    background-color: var(--primary-color);
    color: var(--secundary-color);
    border-radius: 15px 0 15px 0;
    padding: 7px;
}

#header-list-contact:hover{
    border-radius: 0 15px 0 15px;
    background-color: var(--tertiary-color);
}


/* Header ends */

/* Footer starts */
footer{
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-socials{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    margin-top: 10px;
}
#footer-socials a, p{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: clamp(0.9rem, 1vw, 1.2rem);
    font-weight: bolder;
    transition: 0.3s;
}
.footer-socials-image img{
    width: 3vw;
    margin-left: 1vw;
}
#footer-socials a:hover{
    text-shadow: var(--secundary-color) 0 0 10px;
    transition: 0.3s;
}
#footer-socials-facebook img, #footer-socials-linkedin img{
    width: 5vw;
}

/* Footer ends */

/* div animation starts*/

div{
    opacity: 0;
    transform: translateY(50px);
    animation: toApear 0.8s ease forwards;
}

@keyframes toApear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* div animation ends */

/* App starts */

#app{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* App ends */

/* Home starts */

.home-container{
    width: 80vw;
    background-color: #ffffff03;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: #ffffff2b 0 0 20px;
}

.home-me{
    width: 20vw;
    margin: 25px;
    border-radius: 20px;
}

.home-divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title{
    font-size: clamp(1.5rem,1.8vw,2rem);
}

.home-title, .home-subtitle{
    margin: 10px;
    font-weight: bold;
    color: var(--primary-color);
}

.home-subtitle{
    font-size: clamp(1.4rem,1.3vw,1.7rem);
}

.home-about-me{
    width: 90%;
    font-size: var(--p-size);
    text-align: justify;
    color: var(--tertiary-color);
    padding: 5px;
    line-height: 1.3;
    margin: 5px;
}

/* Home ends */

/* About me starts */

.about-container{
    margin: auto;
}

.about-me-container,.about-style-container{
    background-color: var(--tertiary-color);
}

.about-me-container,.about-background-container,.about-style-container,.about-goals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.about-me-title,.about-background-subtitle,.about-style-subtitle,.about-goals-subtitle{
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    font-size: clamp(1.4rem,1.5vw,1.8rem);
}

.about-me-title,.about-style-subtitle{
    color: var(--primary-color);
    background-color: var(--secundary-color);
}

.about-me-p,.about-background-p,.about-style-p,.about-goals-p{
    width: 60%;
    font-size: var(--p-size);
    text-align: justify;
    line-height: 1.3;
    margin: 20px;
}

.about-background-subtitle,.about-goals-subtitle{
    color: var(--secundary-color);
    background-color: var(--tertiary-color);
}

.about-background-p,.about-goals-p{
    color: var(--tertiary-color);
}

/* About animation starts */

.about-me-container,.about-background-container,.about-style-container,.about-goals-container {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About animation ends */

/* About me ends */

/* Skills strats */

.skills-tec-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background: #222;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    font-size: var(--p-size);
}
.skill-card h3{
    color: var(--primary-color);
}

.skill-card:hover h3{
    text-decoration: underline;
}

.skill-card:hover {
    background: #4c4c4c;
    border-radius: 5px;
}

.skill-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-top: 10px;
}

.skills-soft-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
    align-items: center;
}

.skills-soft-list li {
    padding: 8px 12px;
    background: #333;
    color: white;
    border-radius: 15px;
    font-size: var(--p-size);
    transition: 0.3s;
}

.skills-soft-list li:hover{
    border-radius: 5px;
    background: #4c4c4c;
}

.skills-container{
    width: 100%;
    height: 100%;
}
.skills-tec-container,.skills-soft-container{
    margin: 0;
    padding: 80px 20px;
}

.skills-tec-container{
    background-color: var(--tertiary-color);
}

.skills-tec-h2, .skills-soft-h2{
    text-align: center;
    width: 60%;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    font-size: clamp(1.5rem,1.5vw,1.8rem);
}

.skills-tec-h2{
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
}

.skills-soft-h2{
    background-color: var(--tertiary-color);
    color: var(--secundary-color);
}

/* Skills ends */


/* Contact starts */

.container{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: var(--tertiary-color);
    height: 80%;
    width: 40%;
    border-radius: 15px 0 0 15px;
}

.form-contact-h2{
    text-align: center;
    font-size: clamp(1.4rem,1.5vw,1.8rem);
    margin-top: 35px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 70%;
    height: 30px;
    margin: 15px;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 5px;
    color: var(--tertiary-color);
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: var(--p-size);
}

textarea{
    width: 70%;
    height: 150px;
    margin: 15px;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 5px;
    color: var(--tertiary-color);
    resize: none;
    padding: 5px 15px;
    box-sizing: border-box;
}

input:focus, textarea:focus,input:hover, textarea:hover{
    outline: none;
    background-color:#171a17a9;
}

input[type = submit]{
    width: 40%;
}

.contact-container{
    background-color: #0000006e;
    height: 80%;
    width: 40%;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container p{
    font-family: clamp(0.7rem,1.5vw,1.8rem);
    color: var(--primary-color);
}

.contact-container h2{
    text-align: center;
    font-size: clamp(1.4rem,1.5vw,1.8rem);
    margin-top: 35px;
    color: var(--tertiary-color);
}

.contact-container h3{
    font-size: clamp(1.3rem,1.3vw,1.7rem);
    color:  #000;
    background-color:var(--tertiary-color);
    padding: 10px 30px;
    border-radius: 15px 0 15px 0;
    font-weight: bolder;
    margin: 40px;
}

input[type = submit]:focus{
    background-color: var(--secundary-color);
}

/* contact ends */

/* Media starts */

@media screen and (max-width: 1024px){
    .home-container{
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        width: 100%;
        padding: 30px;
    }
    .home-title, .home-subtitle{
        text-align: center;
    }
    #app{
        min-height: 100vh;
    }
    .home-me{
        width: 170px;
    }
    .about-me-container,.about-background-container,.about-style-container,.about-goals-container{
        padding: 0;
    }
    .about-me-p,.about-background-p,.about-style-p,.about-goals-p{
        width: 80%;
    }
    .skills-tec-h2{
        margin-bottom: 50px;
    }
    .skills-tec-container{
        padding-top: 20px;
    }
    .skills-soft-h2,.skills-tec-h2{
        font-size: 5vw;
    }
    .skills-soft-list{
        display: flex;
        flex-direction: column;
    }
    .skills-soft-list li{
        margin-bottom: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .contact-container,.form-container{
        width: 100%;
        border-radius: 0;
    }
    .contact-container h3{
        margin: 10px;
    }
    .contact-container p{
        margin-bottom: 15px;
        padding: 20px;
    }
    .form-contact-h2{
        margin-top: 20px;
    }
    footer img{
        display: none;
    }
    #header-list{
        padding: 0;
    }
}